<h3><em>{{ post.title }}</em> by {{post.user.username}} at {{post.created_at}}</h3>
<p>{{post.message}}</p>
<br>
<br>
{% if user.is_authenticated and post.user == user and not hide_delete %}
	<a href="{% url 'blog:delete' pk=post.pk %}" title="delete">Delete</a>
{% endif %}

<p><a href="{% url 'blog:add_comment_to_post' pk=post.pk %}">Write your own comment</a></p>

<h4>Comments</h4>
{% for comment in post.comments.all %}
	<ul>
		<li>
			<p>{{ comment.text|safe|linebreaks }}</p>
    		<p>Posted by: <strong>{{ comment.author }}</strong></p>
    	</li>
	</ul>
	{% empty %}
	<p>No comments posted.</p>
{% endfor %}