<h3><em>{{ event.title }}</em> by {{event.organization_name}} on {{event.start_date}} at {{event.start_time}}</h3>
<img src="{{event.organization_logo.url}}">
<p>{{event.description|truncatechars:10}}</p>
<!-- {% if user.is_authenticated %}
	<a href="{% url  'event:single' username=event.user.username pk=event.pk %}">Read more...</a>
{% else %}
	<p><a href="{% url  'accounts:login' %}">Log In</a> or <a href="{% url  'accounts:login' %}">Sign Up</a> to read more...</p>
{% endif %} -->
	<a href="{% url  'event:single' username=event.user.username pk=event.pk %}">Read more...</a>
<br>